* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

@keyframes movement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes err {
  0% {
    margin-left: 10px;
  }
  20% {
    margin-left: -10px;
  }
  40% {
    margin-left: 10px;
  }
  60% {
    margin-left: -10px;
  }
  80% {
    margin-left: 10px;
  }
  100% {
    margin-left: 0px;
  }
}

* ul,
ol,
li {
  list-style: none;
}

body {
  background: black;
  text-align: center;
}

p {
  color: white;
  margin-top: 180px;
}

.output {
  margin: 0;
}

.whole {
  background: white;
  height: 200px;
  width: 650px;
  margin: 10px auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: end;
  justify-content: space-between;
  padding: 30px;
}

.stick {
  width: 170px;
  border-bottom: 10px solid black;
  border-top: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.verticalStick {
  background: black;
  width: 10px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: end;
}

.stick ul {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.stick ul li {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.box1 {
  background: #6420aa;
  width: 140px;
  height: 25px;
}

.box2 {
  background: #f7418f;
  width: 110px;
  height: 25px;
}

.box3 {
  background: #fc819e;
  width: 80px;
  height: 25px;
}

.box4 {
  background: #fec7b4;
  width: 50px;
  height: 25px;
}
